#play-music-listen {
    color: #fff;
    padding-top: 10px;
    margin-top: 20px;
}

#play-music-listen .play-left {
    width: 100%;
    display: flex;
    justify-content: center;
}

#play-music-listen .play-left-header {
    text-align: center;
}

#play-img-rotate {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 300px;
}

#play-img-rotate img {
    transition: all 0.3s linear;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

#play-img-rotate img:hover {
    transform: scale(1.1);
    opacity: 0.6;
}

#play-img-rotate img:hover ~ .play-btn-in-img-rotate {
    display: flex;
}

#play-img-rotate img.active {
    animation: music-play 15s infinite linear;
    border-radius: 50%;
}

.play-btn-in-img-rotate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #fff;
    align-items: center;
    justify-content: center;
    display: none;
}

.play-btn-in-img-rotate i {
    color: #fff;
    font-size: 20px;
}

#btn-action {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#btn-action:focus {
    border: none !important;
    outline: none !important;
}

#btn-action i {
    display: block;
    font-size: 20px;
}

#play-music-listen .media-content {
    margin-top: 10px;
    text-align: center;
}

#play-music-listen .media-name {
    font-weight: 600;
}

#play-music-listen .media-action {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#play-music-listen .media-action button {
    background-color: rebeccapurple;
    border: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 60px;
    text-transform: uppercase;
}

#play-music-listen .media-action button i {
    margin-right: 8px;
}

#play-music-listen .level {
    padding-top: 15px;
}

#play-music-listen .level i {
    font-size: 23px;
    margin: 0 10px;
    padding: 8px;
    border-radius: 50%;
}

#play-music-listen .level {
    display: flex;
    align-items: center;
    justify-content: center;
}

#play-music-listen .level i:hover {
    background-color: grey;
    cursor: pointer;
}

#play-music-listen .play-right {
    width: 100%;
}

#play-music-listen .media-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

#play-music-listen .media-head-music-play {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    height: 60px;
    border-radius: 8px;
    background-color: #FFFFFF19;
    width: 100%;
}

.media-head-music-play input {
    margin-right: 4px;
}

.title-name-music {
    position: relative;
    top: 8px;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    display: block;
    display: -webkit-box;
    height: 18px;
    line-height: 16px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-name-singer {
    position: relative;
    top: 12px;
    display: block;
    display: -webkit-box;
    height: 18px;
    font-size: 16px;
    line-height: 16px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top:10px;
}

.media-left {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 0;
}

.media-left-img {
    position: relative;
}

#play-music-listen .wave-box .wave-item {
    height: 20px;
    width: 5px;
    background-color: #fff;
    margin-right: 1px;
    display: inline-block;
    transform-origin: bottom center;
    animation: waving 1s ease-in-out infinite;
}

#play-music-listen .wave-box .wave1 {
    animation-delay: 0.1s;
}

#play-music-listen .wave-box .wave2 {
    animation-delay: 0.3s;
}

#play-music-listen .wave-box .wave3 {
    animation-delay: 0.5s;
}

#play-music-listen .wave-box .wave4 {
    animation-delay: 0.8s;
}

#play-music-listen .wave-box {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

#play-music-listen .media-left .media-left-img img {
    margin: 0 8px;
}

#play-music-listen .media-left .media-info {
    margin-left: 8px;
    height: 60px;
    width: 100%;
}

#play-music-listen .list {
    overflow-x: hidden;
}

#play-music-listen .list::-webkit-scrollbar {
    width: 6px;
}

#play-music-listen .list::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
}

#play-music-listen .list-song {
    margin-top: 20px;
}

#play-music-listen .list-song .list {
    width: 100%;
    padding: 16px;
    height: 380px;
    overflow-y: auto;
}

#play-music-listen .list-song .list .play-item {
    padding: 8px;
    height: 60px;
    border-radius: 8px;
}

#play-music-listen .list-song .list .play-item:hover {
    background-color: #FFFFFF19;
    cursor: pointer;
}

#play-music-listen .list-song .list .play-item:hover .media-right.col-lg-2.text-right p {
    display: none;
}

#play-music-listen .media-left img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 8px;
}

#play-music-listen .media-ablum {
    flex: 1;
    margin-left: 20%;
}

#play-music-listen .media-icon {
    display: none;
}

#play-music-listen .media-icon i {
    font-size: 16px;
    margin-right: 15px;
}

#play-music-listen .list-song .list .play-item:hover .media-right .media-icon {
    display: block;
}

#play-music-listen .list-song .list .play-item:hover .media-right p {
    display: none;
}

#play-music-listen .swiper {
    width: 100%;
    height: 100%;
}

#play-music-listen .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#play-music-listen .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#play-music-listen .swiper-slide-hover {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transition: all 0.2s linear;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    border-radius: 10px;
}

#play-music-listen .swiper-slide:hover .swiper-slide-hover {
    opacity: 0.8;
    cursor: pointer;
}

@keyframes waving {
    0% {
        transform: scaleY(0.1);
        background-color: #fff;
    }
    50% {
        transform: scaleY(1);
        background-color: #fff;
    }
    100% {
        transform: scaleY(0.1);
        background-color: transparent;
    }
}

@keyframes music-play {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
